<div class="row">
	{{#each this}}
	<div class="card col-md-4">
		<div class="content">
			<span class="meh card-title"> {{name}} is a {{age}} year old {{gender}} </span>
			<br>
			<span class="skills">With skills such as: {{this.skills}} , </span>
			<br>
	</div>
	</div>
	{{/each}}
</div>
